<div class="data-header">
  <div class="data-title">DATA</div>
  {% set data_nav_args = {'area': current_area} if current_area else {} %}
  <nav class="data-nav">
    <a href="{{ url_for('data.database_sources_route', **data_nav_args) }}" class="{% if request.endpoint in ['data.database_sources_route', 'data.database_source_detail_route', 'data.database_source_new_route', 'data.database_source_edit_route'] %}active{% endif %}">Databases</a>
    <a href="{{ url_for('data.objects_route', **data_nav_args) }}" class="{% if request.endpoint in ['data.objects_route', 'data.table_detail_route', 'data.object_detail_route', 'data.object_data_route'] %}active{% endif %}">Tables</a>
  </nav>
</div>
