{% extends "layout.html" %}
{% block module_content %}
  <a href="{{ url_for('data.add_data_route', proj=project) }}">Add Data</a>
  <a href="{{ url_for('data.import_data_db_route', proj=project) }}">Import Databases</a>

<table border="1" cellpadding="5">
  <tr>
    {% for col in col_list %}
    <th>{{ col.replace('_', ' ') }}</th>
    {% endfor %}
    <th>Actions</th>
  </tr>
  {% for item in items %}
  <tr>
    {% for col in col_list %}
    <td>{{ item[col] }}</td>
    {% endfor %}
    <td>
      <a href="{{ url_for('data.view_data_route', item_id=item.id, proj=project) }}">View</a> |
      <a href="{{ url_for('data.edit_data_route', item_id=item.id, proj=project) }}">Edit</a> |
      <a href="{{ url_for('data.delete_data_route', item_id=item.id, proj=project) }}" onclick="return confirm('Delete item?');">Del</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "widgets/wid_pagination.html" %}
{% endblock %}
