<!doctype html>
<html lang="en">
  <head>
    {% if title %}
    <title>LifePIM Desktop - {{ title }}</title>
    {% else %}
    <title>LifePIM Desktop</title>
    {% endif %}

<!-- Stylesheets for responsive design -->

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel=stylesheet type=text/css href="/static/css/bootstrap.min.css">

<!-- Bootstrap Date-Picker Plugin -->
<link rel=stylesheet type=text/css href="/static/css/bootstrap-datepicker.standalone.css">

<!-- LifePIM Style -->
<link rel=stylesheet type=text/css href="/static/css/lifepim.css">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


</HEAD>
<body>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/lifepim.js') }}"></script>



      <nav class="navbar navbar-dark bg-dark" >
            <!--  Banner ☰  LifePIM   #0f491d -->
            <!--a class="navbar-brand text-info" href="https://www.lifepim.com">LifePIM</a-->
            <div class="dropdown">
                <button class="btn btn-sm text-info bg-dark border-0 dropdown-toggle" type="button"
                  id="dropdownHamburger" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">LifePIM</button>
                <div class="dropdown-menu" aria-labelledby="dropdownHamburger">
                  <a class="dropdown-item" href="https://www.lifepim.com">Home</a>
                  <a class="dropdown-item" href="{{ url_for('page_options') }}">Settings</a>
                  <div class="dropdown-divider"></div>

                  {% if is_authenticated == 'Y' %}
                    {% if listname %}
  
                      {% if view_as =='▤' %}
                        <a class="dropdown-item active" href={{ url_for('view', listname=listname, view_as='▤' )}}>View as List</a> <!--▤ ☰  -->
                      {% else %}
                        <a class="dropdown-item" href={{ url_for('view', listname=listname, view_as='▤' )}}>View as List</a> <!--▤ ☰  -->
                      {% endif %}
                      {% if view_as =='☷' %}
                        <a class="dropdown-item active" href={{ url_for('view', listname=listname, view_as='☷' )}}>Display as Grid</a> <!--▤ ☰  -->
                      {% else %}
                        <a class="dropdown-item" href={{ url_for('view', listname=listname, view_as='☷' )}}>Display as Grid</a> <!--▤ ☰  -->
                      {% endif %}
                      <div class="dropdown-divider"></div>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
                  {% endif %}
              </div>
            </div>
      </nav>

<div class="container">
    <!-- Title bar with filters and logons as text / info and small drop downs -->
    <nav class="navbar navbar-expand-sm navbar-light">

      <!--  Dropdown List for Login / Account switch / Logout -->
      <div>
        {% if listname and listname != 'About' and listname != 'Options' %}
         {{ listname }} for
        {% else %}
         Settings for
        {% endif %}
        {% if is_authenticated == 'Y' %}{{ display_name }}{% else %}Login{% endif %}
    </div>
    </nav>

    <!-- MAIN TAB BAR -->
    <div class="row">
      <div class="col-sm">

        <ul class="nav nav-tabs">
           {% for menu_item in menu_list %}
             {% set url = menu_item[0] %}
             {% set nme = menu_item[1] %}
             {% set rte = menu_item[2] %}

             {% if rte == menu_selected %}
                 <li class="nav-item">
                    <a class="nav-link active" href={{ url }} data-toggle="tooltip" title="{{ rte }}">{{ nme }}</a>
                </li>
             {% else %}
                 <li class="nav-item">
                    <a class="nav-link" href={{ url }} data-toggle="tooltip" title="{{ rte }}" >{{ nme }}</a>
                </li>
             {% endif %}
           {% endfor %}

           {% if is_authenticated == 'Y' %}
             {% if listname  %}
               {% if listname != 'Overview' and listname != 'About' and listname != 'Options' %}

             <li class="nav-item dropdown" data-toggle="tooltip" title="Change your View">
               <a class="nav-link dropdown-toggle"
                 data-toggle="dropdown" href="#" role="button"
                 aria-haspopup="true" aria-expanded="false">{{ view_as }}</a>
               <div class="dropdown-menu">
                 <a class="dropdown-item" href="{{ url_for('view', listname=listname, view_as='▤' )}}">View as List</a> <!--▤ ☰  -->
                 <a class="dropdown-item" href="{{ url_for('view', listname=listname, view_as='☷' )}}">View as Card</a>
                 <a class="dropdown-item" href="{{ url_for('view', listname=listname, view_as='⛏' )}}">View Birds Eye</a>

               </div>
             </li>
              <li class="nav-item ml-auto">
                <a class="form-group float-right"
                   data-toggle="tooltip" title="Add a new entry"
                   href="{{ url_for('add', listname=listname) }}">Add</a>
              </li>
              {% endif %}
            {% endif %}
          {% endif %}
          </ul>
       </div>


     </div>

    <div class="row">

        <div class="col">

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-info alert-dismissible" role="info">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{message | safe}}
                  </div>
                {% endfor %}
                
              {% endif %}
            {% endwith %}

        </div>
    </div>

<BR>



    {% block content %}{% endblock %}

<BR>
  {% if is_authenticated == 'Y' %}

{% if menu_selected  %}
  {% if menu_selected != '' %}
    {% if menu_selected != 'about' %}
      {% if listname and listname != 'images' and listname != 'About' and listname != 'Overview' and listname != 'Options' %}
            <!-- final test to ignore New button on edit pages -->
            {% if not id %}
                <!-- do nothing -->
              {% if id != '' %}
                <!--a class="btn btn-secondary" href={{  url_for('add', listname=listname) }}>Add {{ menu_selected }} to {{ cur_folder }}</a-->
                <a class="btn btn-secondary" href={{  url_for('add', listname=listname) }}>New</a>
              {% endif %}
            {% endif %}
          {% endif %}
      {% endif %}
   {% endif %}
   {% endif %}
 {% endif %}

<BR><BR>

</div>
</div>

  <nav class="navbar navbar-dark bg-dark" >
<div class="container">
  <div class="row">
    <div class="col-sm"><small>
        <a href=http://127.0.0.1:9741/><div class="text-info">Home</div></a></small>
    </div>
  </div>


</div>

</nav>


<script>
  var elem = document.getElementById("timeNow")
  var elemNow = document.getElementById("date_now")
  var elemNext = document.getElementById("date_next")
  var elemPrev = document.getElementById("date_prev")
  var elemCurr = document.getElementById("date_curr")
  var now = new Date();
  var date_curr = new Date();
  var date_next = new Date();
  var date_prev = new Date();

  date_next.setDate(date_next.getDate() + 1)
  date_prev.setDate(date_prev.getDate() - 1)

  //var options = { month: 'short', day: '2-digit', hour: 'numeric', minute: '2-digit' };
  var options = { format: 'DMY', weekday: 'long', year: 'numeric', month: 'long', day: '2-digit' };
  // works for MDY elem.innerHTML = now.toLocaleString('en-us', options);
  // works for ISO but has h:m:s as well
  //elem.innerHTML = now.toISOString();

  //elem.innerHTML = now.toLocaleString('en-au', options);

  //elemNow.value = now.toISOString().substring(0, 10);
  //elemNext.value = date_next.toISOString().substring(0, 10);
  //elemPrev.value = date_prev.toISOString().substring(0, 10);
  //elemCurr.value = date_curr.toISOString().substring(0, 10);


function completeTask(id) {
   window.location.href = "/task_done/" + id;
   event.preventDefault();
  }

function uncompleteTask(id) {
   window.location.href = "/task_uncomplete/" + id
   event.preventDefault();
  }



</script>


</BODY></HTML>
