{% extends "base.html" %}
{% block content %}

{% if is_authenticated != 'Y' %}

    You do not have access to this page<BR><BR>


    Login <a href="{{ url_for('login') }}">here</a> to here to start using LifePIM<BR><BR>

	Not registered? <a href="{{ url_for('register') }}">sign up here</a><BR>


    <BR>

{% else %}

{% from 'macros.html' import build_color_picklist %}


    {% if id == '' %}
    <form class="form-group" method="POST">
    Add {{ current_list }}
          <!--input type="submit" class="form-group" name="btn_add_value" value="Save"-->
          <input type="submit" class="form-group btn btn-secondary" name="btn_add_value" value="Save"><BR>
          <!--input type="submit" class="form-group" name="btn_cancel" value="Cancel"-->


        {% for col_num in range(num_cols-1) %}
			{% if headers[loop.index0] == 'id' %}

		    {% else %}


                {% if col_types[loop.index0] == 'Note' %}
                    <BR>{{ headers[loop.index0] }}
                  <textarea name="{{headers[loop.index0]}}"
                          class="form-control" rows="9"></textarea>

                {% elif col_types[loop.index0] == 'List' %}
                  {{ headers[loop.index0] }}
                  <select   class="form-group" name="{{headers[loop.index0]}}">
                  <option value="All">All</option>
                  {% for fldr_pick in dropdown_list %}
                      {% if fldr_pick[1] == cur_folder %}
                        <option value="{{ fldr_pick[1] }}" selected >{{ fldr_pick[1] }}</option>
                      {% else %}
                        <option value="{{ fldr_pick[1] }}">{{ fldr_pick[1] }}</option>
                      {% endif %}

                  {% endfor %}
                </select>
                <BR>


                {% elif headers[loop.index0] == ' folder' %}
                    {{ headers[loop.index0] }}
                    <input type="text" class="form-control" name="{{headers[loop.index0]}}" value= "{{ cur_folder }}">
                {% elif col_types[loop.index0] == 'Checkbox' %}

                    {% if headers[loop.index0] != ' is_archived' %}  <!-- dont show archived for NEW note -->
                      {% if record[col_num] %}
                        <input type="checkbox" class="form-group" name="{{headers[loop.index0]}}" checked> {{headers[loop.index0]}}
                      {% else %}
                        <input type="checkbox" class="form-group" name="{{headers[loop.index0]}}"> {{headers[loop.index0]}}
                      {% endif %}
                    {% endif %}
                {% elif col_types[loop.index0] == 'Date' %}
                  <input id="meeting" type="date" name="{{headers[loop.index0]}}" value="{{today}}"/>
                {% elif col_types[loop.index0] == 'Time' %}
                    <input id="meeting" type="time" name="{{headers[loop.index0]}}"  value=""/>
                {% elif col_types[loop.index0] == 'Color' %}
                  {% set select_col = build_color_picklist( headers[loop.index0], 'yellow' ) %}
                  {{ select_col }}
                {% else %}
                    <BR>{{ headers[loop.index0] }}
                  <input type="text" class="form-control" name="{{headers[loop.index0]}}" value="">
                {% endif %}


            {% endif %}

          {% endfor %}

        </form>

    {% else %}
    <form class="form-group" method="POST">
    Edit {{ current_list }}
    <input type="submit" class="form-group btn btn-secondary" name="btn_edit_value" value="Save"><BR>
    <!--input type="submit" class="form-group" name="btn_cancel" value="Cancel"-->
    {% for col_num in range(num_cols-1) %}
        {% if headers[loop.index0] == 'id' %}
        {% else %}
                    {% if col_types[loop.index0] == 'Note' %}
                      <BR>{{ headers[loop.index0] }}
                        {% if record[col_num] %}
                            <textarea name="{{headers[loop.index0]}}"
                                     class="form-control" rows="12">{{ record[col_num] }}</textarea>
                        {% else %}
                            <textarea name="{{headers[loop.index0]}}"
                                     class="form-control" rows="12"></textarea>
                        {% endif %}
                    {% elif col_types[loop.index0] == 'List' %}
                      {{ headers[loop.index0] }}
                      <select   class="form-group" name="{{headers[loop.index0]}}">
                      <option value="All">All</option>
                      {% for fldr_pick in dropdown_list %}
                        {% if fldr_pick[1] == record[col_num] %}
                          <option value="{{ fldr_pick[1] }}" selected >{{ fldr_pick[1] }}</option>
                        {% else %}
                          <option value="{{ fldr_pick[1] }}">{{ fldr_pick[1] }}</option>
                        {% endif %}

                      {% endfor %}
                      </select>
                      <BR>
                    {% elif col_types[loop.index0] == 'Checkbox' %}
                      {% if record[col_num] %}
                        <input type="checkbox" class="form-group" name="{{headers[loop.index0]}}" checked>{{headers[loop.index0]}}
                      {% else %}
                        <input type="checkbox" class="form-group" name="{{headers[loop.index0]}}">{{headers[loop.index0]}}
                      {% endif %}
                    {% elif col_types[loop.index0] == 'Date' %}
                        <input id="meeting" type="date" name="{{headers[loop.index0]}}"  value="{{ record[col_num] }}"/>
                    {% elif col_types[loop.index0] == 'Time' %}
                        <input id="meeting" type="time" name="{{headers[loop.index0]}}"  value="{{ record[col_num] }}"/>
                    {% elif col_types[loop.index0] == 'Color' %}
                      {% set select_col = build_color_picklist( headers[loop.index0], record[col_num] ) %}
                      {{ select_col }}
                    {% elif col_types[loop.index0] == 'Hidden' %}
                       <input type="hidden" class="form-control" name="{{headers[loop.index0]}}" value="{{ record[col_num] }}">
                    {% else %}
                      {{ headers[loop.index0] }}
                        {% if record[col_num] %}
                            <input type="text" class="form-control" name="{{headers[loop.index0]}}" value="{{ record[col_num] }}">
                        {% else %}
                            <input type="text" class="form-control" name="{{headers[loop.index0]}}" value="">
                        {% endif %}
                    {% endif %}

                 {% endif %}
          {% endfor %}
<!--div align="right">
<a href="{{ url_for('delete_val', listname=current_list, item_to_delete=id )}}">Delete this record</a>
</div-->


<input type="submit" class="form-group btn btn-secondary" name="btn_edit_value" value="Save">

{% if listname != 'notes' %}
  <a class="form-group btn btn-secondary float-right" href="{{ url_for('delete_val', listname=current_list, item_to_delete=record[0]) }}" role="button">Delete</a>
{% endif %}


        </form>


    {% endif %}

{% endif %}

{% endblock %}
