{% extends "base.html" %}
{% block content %}

{% if is_authenticated == 'Y' %}

<h4><span id="timeNow"></span></h4>

    <!-- all widgets come as cards after calendar -->
    {% if widgets %}
    <div class="card-columns">
      {% for widget_title, widget_content in widgets %}

       <div class="card">
        {% if widget_title %}
          <h4 class="card-title">{{ widget_title }}</h4>
        {% endif %}
          <div class="card-body">
            {{ widget_content|safe }}
          </div>
        </div>
        {% endfor %}
      </div>

    {% endif %}


</div>




{% else %}

<div class="jumbotron">
  <H1>LifePIM Desktop</h1>

This is the desktop version of LifePIM


</div>


<BR>



As a default you start with the following list of folders
<LI>Home
<LI>Work
<LI>Study
<LI>Business
<LI>Fun

<BR>



<H3>Formatting your text notes</H3>

You can use simple markup commands to structure your notes with headings, code blocks, images and embedded video

<LI>Headings: start a line with ##
<LI>Sub Headings: start a line with ###
<LI>links are automatically clickable
<LI>Code block: wrap in ~~~ at start and end
<LI>Images: prefix an image url with  .IMG SRC=
<LI>Youtube videos: automatically embedded if URL entered on separate line

<BR><BR><BR>


{% endif %}




{% endblock %}
