{% extends "base.html" %}
{% block content %}


<div id="filelist">
  {% if index_list %}
   {% for res in index_list %}
    {% if res %}
      <small><A href="{{ res[0] }}">{{ res[1] }}</A></small><BR>
    {% endif %}
   {% endfor %}
  {% endif %}

</div>


Showing {{ num_results }} results for {{ search_text }}<BR><BR>

{% if view_as == '▤' %}


    <TABLE width=95% valign="Top">
        <TR>
           <TD>Result</TD>
           <TD>Date updated</TD>
        </TR>
    {% for res in search_results %}

      <TR>
		<TD>
		
            {{ res[0:160] }}</a>


		</TD>


      </TR>


    {% endfor %}
    </TABLE>

{% else %}
  <!-- show as a cards for search results -->
  <div class="card-columns">

  {% for res in search_results %}

            
            <div class="card text-dark" style="background-color: #ffff93">
              <div class="card-body">
                <h5 class="card-title">📝</h5>

              <small>
                {{ res[0:160] }}
              </small>

            </div>
          </div>
  {% endfor %}
</div>

{% endif %}


  <!-- now show the list of files found underneath (or on the side) -->

  <BR>
  {{ num_files_found }} files found named like {{ search_text }}

  <div id="files_found">

    <TABLE class="as-table">
      <TR>
        <TH><small>Folder</small></TH>
        <TH><small>File Name</small></TH>
        <TH><small>Size</small></TH>
        <TH><small>File Date</small></TH>

      </TR>
      {% for row in files_found[0:] %}
      {% if row %}
       {% if row|length > 4 %}
      <TR>
        <TD><a href="{{ url_for('page_file_find', fname=row[2]) }}">{{ row[2] }}</a></TD>
        <TD><a href="{{ url_for('page_file_find', fname=row[1]) }}">{{ row[1] }}</a></TD>
        <TD>{{ row[3] }}</small></TD>
        <TD><a href="{{ url_for('page_file_find', fname=row[4][0:10]) }}">{{ row[4][0:10] }}</a>{{ row[4][11:] }}</TD>
      </TR>
       {% endif %}
       {% endif %}
      {% endfor %}
    </table>
</div>



{% endblock %}
