{% extends "base.html" %}
{% block content %}


{% if is_authenticated == 'Y' %}


<div id="lists">
<TABLE>
<TR>

</TR>
{% for id, folder in lst %}
  <TR>
    <TD><a href="{{ url_for('edit_value', listname='folders', id_to_update=id )}}">{{ folder }}</a></TD>


  </TR>
{% endfor %}
</TABLE>

</div>


{% else %}

<div class="jumbotron">
  <H1>Group your data for even faster access</h1>


Folders organise your data, and you can have as many or as few as you want.<BR><BR>

Your can have an ultra simple structure such as
<LI>Work
<LI>Home
<LI>Study
<LI>Fun
<BR>

Add folders for new projects that come along such as
<LI>Wedding
<LI>Travel to England
<LI>Renovate Car

<BR>

The "All Folders" dropdown on the top of the form instantly filters all your data.<BR>
 This lets you focus on certain areas to achieve more with your time.
<BR>
</div>
<BR>


	Login <a href="{{ url_for('login') }}">here</a> to here to start using LifePIM<BR><BR>


{% endif %}




{% endblock %}
