{% extends "base.html" %}
{% block content %}


{% if is_authenticated == 'Y' %}




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add an Image
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add an Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="{{ url_for('upload_process_file', listname=listname )}}" method=post enctype=multipart/form-data><BR>
         <input type=file  size=120 name=file><BR><BR>
        <input type=submit value="Upload" name=btn_upload><BR>
        </form>


      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div-->
    </div>
  </div>
</div>



{% if view_as == '▤' %}
<div id="lists">
<TABLE width=95%>

{% for fname in fullnames %}
  <TR>
    <TD><a href="{{ url_for('send_file', filename=fname )}}">{{ fname }}</a>
  </TD>

  <TD><a href="/delete_file/{{ fname }}">Delete</a>
  </TD>
  </TR>
{% endfor %}
</TABLE>
</div>

{% elif view_as == '⛏' %}

<div class="card-columns">
{% for fname in fullnames %}
<a href="{{  url_for('send_file', filename=fname )}}">
  
    <img src="{{ url_for('send_file', filename=fname) }}"  class="img-fluid" alt="Responsive image">
</div>
</a>
{% endfor %}
</div>


{% else %}

<div class="card-columns">

{% for fname in fullnames %}

<a href="{{  url_for('send_file', filename=fname )}}">
  <div class="card text-dark" style="background-color: #ffff93">
    <div class="card-body">{{ fname }}
        <img src="{{ url_for('send_file', filename=fname) }}"  class="img-fluid" alt="Responsive image">
    </div>

  </div>
  </a>
{% endfor %}
</div>

{% endif %}


{{ num_recs }} records<BR>

{% else %}

<div class="jumbotron">
  <H1>Upload files to use in notes and wiki pages</h1>


</div>


	Login <a href="{{ url_for('login') }}">here</a> to here to start using LifePIM<BR><BR>

	Not registered? <a href="{{ url_for('register') }}">sign up here</a><BR>



{% endif %}




{% endblock %}
