

{% macro usedalot(somevalue) %}
    <div class="usedalot">{{ somevalue }}</div>
{% endmacro %}


<!-- set the color based on color description -->

{% macro get_hex_color(color) %}
{% if color %}
  {% if color == 'blue' %}
    {% set note_col = '#81ecec' %}
  {% elif color == 'aqua' %}
    {% set note_col = '#ccffee' %}
  {% elif color == 'green' %}
    {% set note_col = '#b8e994' %}
  {% elif color == 'yellow' %}
    {% set note_col = '#ffff93' %}
  {% elif color == 'orange' %}
    {% set note_col = '#eccc68' %}
  {% elif color == 'red' %}
    {% set note_col = '#fab1a0' %}
  {% elif color == 'pink' %}
    {% set note_col = '#ff9ff3' %}
  {% elif color == 'purple' %}
    {% set note_col = '#e056fd' %}
  {% elif color == 'brown' %}
    {% set note_col = '#deb887' %}
  {% elif color == 'grey' %}
    {% set note_col = '#dfe6e9' %}
  {% elif color == 'white' %}
    {% set note_col = '#f1f2f6' %}
  {% else %}
    {% set note_col = '#ffff93' %}
  {% endif %}
{% else %}
  {% set note_col = '#ffff93' %}
{% endif %}
{{ note_col }}
{% endmacro %}


{% macro build_color_picklist(dropdown_name, selected_color) %}
<select  class="form-group" name="{{ dropdown_name }}">
  <!-- <option  value="" {% if selected_color=='' %} selected="selected"{% endif %}>Pick a Color</option> -->
  <option style="background:#ffff93" value="yellow" {% if selected_color=='yellow' %} selected="selected"{% endif %}>Yellow</option>
  <option style="background:#ccffee" value="aqua" {% if selected_color=='aqua' %} selected="selected"{% endif %}>Aqua</option>
  <option style="background:#81ecec" value="blue" {% if selected_color=='blue' %} selected="selected"{% endif %}>Blue</option>
  <option style="background:#b8e994" value="green" {% if selected_color=='green' %} selected="selected"{% endif %}>Green</option>
  <option style="background:#eccc68" value="orange" {% if selected_color=='orange' %} selected="selected"{% endif %}>Orange</option>
  <option style="background:#fab1a0" value="red" {% if selected_color=='red' %} selected="selected"{% endif %}>Red</option>
  <option style="background:#ff9ff3" value="pink" {% if selected_color=='pink' %} selected="selected"{% endif %}>Pink</option>
  <option style="background:#e056fd" value="purple" {% if selected_color=='purple' %} selected="selected"{% endif %}>Purple</option>
  <option style="background:#deb887" value="brown" {% if selected_color=='brown' %} selected="selected"{% endif %}>Brown</option>
  <option style="background:#dfe6e9" value="grey" {% if selected_color=='grey' %} selected="selected"{% endif %}>Grey</option>
  <option style="background:#f1f2f6" value="white" {% if selected_color=='white' %} selected="selected"{% endif %}>White</option>
</select>

{% endmacro %}



{% macro show_table_data(dat, table_id, show_edit, cur_table_num_cols) %}
<div id="table_data">

<form  method="POST">
    <TABLE valign="Top" width=100% align="left" border=1>

      <TR>
        <TH>
          <a href="{{ url_for('add', listname='data_values' )}}">Add</a>&nbsp;&nbsp;
        </TH>  <!-- <a href="{{ url_for('add_data_value', table_id=table_id, listname='data_values' )}}">Add</a>&nbsp;&nbsp; -- >
      {% for header_col in dat[0][1:] %}

            {% if header_col %}
                <TH>{{ header_col }}</TH>
            {% else %}
                <!--TH></TH-->
            {% endif %}
      {% endfor %}
      </TR>

    {% if dat %}

      {% if show_edit == 'Y' %}
        <TR>  <!--- below is wrong - doesnt add correctly. so using popup modal form -->
        <TD><input type="submit" name="btn_add_value" value="Add Value to List">&nbsp;&nbsp;
          <a href="{{ url_for('add', listname='data_values' )}}">Add</a>&nbsp;&nbsp;
          <a href="{{ url_for('add_data_value', table_id=table_id, listname='data_values' )}}">Add</a>&nbsp;&nbsp;
        </TD>
        {% for header_col in dat[0][1:] %}
          {% if header_col %}
            <TD><input type="text" name="col{{ loop.index - 1 }}"></TD>
          {% endif %}
        {% endfor %}


        </TR>
      {% endif %}

    {% for row in dat[1:] %}
        <TR>
        {% set ID = row[0] %}

        {% for col in row[1:] %}
            {% if loop.index == 1 %}
            <TD><font color="grey"><small>{{ col }}</small><font>
              <a href="{{ url_for('edit_value', listname='data_values', id_to_update=ID )}}"><small>Edit</small></a>&nbsp;&nbsp;
              <a href="{{ url_for('delete_val', listname='data_values', item_to_delete=ID )}}"><small>Delete</small></a>

            </TD>
            {% elif col %}
                <TD><small>{{ col }}</small></TD>
            {% elif loop.index <= cur_table_num_cols %}
                <TD></TD>

            {% endif %}
        {% endfor %}
        {% if show_edit == 'Y' %}
          <TD>
          </TD>
        {% endif %}
        </TR>
    {% endfor %}

    {% endif %}
    </table>
</form>
</div>
{% endmacro %}

{% macro show_table_controls(cur_table, cur_table_id, show_edit) %}

<form  method="POST">
<H3>{{ cur_table }}</H3>

  <a href="{{ url_for('page_data_export', table_id=cur_table_id )}}"
   class="btn btn-primary" role="button">Export Table to CSV</a>&nbsp;&nbsp;
  <a href="{{ url_for('edit_value', listname='data_tables', id_to_update=cur_table_id )}}"
    class="btn btn-primary" role="button">Edit Metadata</a>&nbsp;&nbsp;
  <input type="hidden" name="lbl_current_list" value= {{ cur_table }}>
  <a href="{{ url_for('delete_val', listname='data_tables', item_to_delete=cur_table_id )}}"
    class="btn btn-danger" role="button">Delete Table</a>&nbsp;&nbsp;



</form>

{% endmacro %}
