{% if note_folder_panel_items %}
<div class="note-folder-list note-folder-panel" data-collapsible="note-subfolders" data-default-collapsed="true">
  <div class="note-folder-title">
    <span>Subfolders</span>
    <button type="button" class="note-folder-toggle" aria-expanded="false">[+]</button>
  </div>
  <div class="note-folder-body" hidden>
    {% for folder in note_folder_panel_items %}
      <a class="note-folder-link" href="{{ folder.url }}" title="{{ folder.path }}">{{ folder.label }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
