{% extends "layout.html" %}
{% block module_content %}
  <div>
    <a href="{{ url_for('notes.list_notes_table_route', proj=project) }}">Table</a> |
    <a href="{{ url_for('notes.list_notes_list_route', proj=project) }}">List</a> |
    <a href="{{ url_for('notes.list_notes_cards_route', proj=project) }}">Card</a>
  </div>
  <a href="{{ url_for('notes.add_note_route', proj=project) }}">Add Note</a>
  <a href="{{ url_for('notes.import_notes_folder_route', proj=project) }}">Import Folder</a>

  <ul style="list-style:none; padding:0; margin:8px 0;">
    {% for n in notes %}
    <li style="padding:4px 0;">
      <a href="{{ url_for('notes.view_note_route', note_id=n.id) }}">{{ n.file_name }}</a>
      {% if n.path %}<span>- {{ n.path }}</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% include "widgets/wid_pagination.html" %}
{% endblock %}
