{% extends "layout.html" %}
{% block module_content %}
  {% include "_notes_list_header.html" %}
  {% include "widgets/area_folders.html" %}
  {% include "_notes_folder_panel.html" %}

  <ul class="note-list-items" id="notes-selection-root" data-notes-context="true" data-bulk-selection-root="true">
    {% for n in notes %}
    <li class="note-list-row link-draggable" data-record-type="note" data-record-id="{{ n.id }}" data-record-title="{{ n.file_name }}">
      <input type="checkbox" class="link-select" data-record-type="note" data-record-id="{{ n.id }}" data-record-title="{{ n.file_name }}" aria-label="Select {{ n.file_name }}">
      <span class="note-list-dot" style="background:{{ n.list_color_style }};"></span>
      <a href="{{ url_for('notes.view_note_route', note_id=n.id) }}">{{ n.file_name }}</a>
      <a class="note-button"
         href="{{ url_for('notes.note_popout_route', note_id=n.id) }}"
         onclick="window.open(this.href, 'lifepim-note-{{ n.id }}', 'width=600,height=700,resizable=yes'); return false;">Pop Out</a>
      {% if n.path %}<span class="note-list-folder">{{ n.path }}</span>{% endif %}
    </li>
    {% endfor %}
  </ul>
  {% include "widgets/wid_pagination.html" %}
{% endblock %}
