{% extends "layout.html" %}
{% block module_content %}
  <div>
    <a href="{{ url_for('notes.list_notes_table_route', proj=project) }}">Table</a> |
    <a href="{{ url_for('notes.list_notes_list_route', proj=project) }}">List</a> |
    <a href="{{ url_for('notes.list_notes_cards_route', proj=project) }}">Card</a>
  </div>
  <a href="#" class="new-note-btn" data-sidebar-label="{{ project or '' }}">New Note</a>
  <a href="{{ url_for('notes.import_notes_folder_route', proj=project) }}">Import Folder</a>

  {% include "widgets/project_folders.html" %}

  {% set col_values = card_values %}
  <div data-notes-context="true">
    {% include "widgets/wid_card_list.html" %}
  </div>
  {% include "widgets/wid_pagination.html" %}
{% endblock %}
