
/*   lifepim.css


--------------------------------
			Typography
--------------------------------*/


pre {
font-size: 85%;
}


#footer {
    /*background:blue;*/
	font-size: 80%;

}



/*--------------------------------
			Layout
----------------------------------*/
.glyphicon-menu-hamburger {
  font-size: 12px;
}

pre {
	
	line-height: 1.1;

}

video
{
  object-fit: cover;
  height: 100%;
  width: 100%;
}


.app_icons  li {
    float: left;
    width: 90px;
    height: 90px;
    margin: 2px 2px 2px 2px;
    padding: 6px 6px 6px 6px;
    border-style: ridge;
    clear: right;
    list-style-type: none;
    border-radius: 15px;

}

.app_icons div {
    margin: 0 auto;
}


.app_icons ul {
    padding-inline-start: 0px;
}


.as-table {
    border: solid 1px #EEF7EE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 12px Arial, sans-serif;
    }
    .as-table thead th {
    background-color: #EEF7EE;
    padding: 1px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
    }
    .as-table tbody td {
    /*color: #333;*/
    padding: 2px;
    text-shadow: 1px 1px 1px #fff;
    }
    .as-table-zebra tbody tr:nth-child(odd) {
    background-color: #fff;
    }
    .as-table-zebra tbody tr:nth-child(even) {
    background-color: #EEF7EE;
    }
    .as-table-horizontal tbody td {
    border-left: none;
    border-right: none;
    }
    


/*--------------------------------
			Colours
--------------------------------*/

pre {
	background-color: #f6f8fa;
	color: black;

}


#nav_title {
    background-color:yellowgreen;
    float: left;

}

#nav_title_warning {
    background-color:red;
    color:yellow;
    float: left;

}