{% extends "layout.html" %}
{% block module_content %}
  <div class="calendar-controls">
    <div class="calendar-views">
      <a href="{{ url_for('calendar.month_view_route', year=view_date.year, month=view_date.month, proj=project) }}">Monthly</a> |
      <a href="{{ url_for('calendar.week_view_route', date=view_date.strftime('%Y-%m-%d'), proj=project) }}">Weekly</a> |
      <a href="{{ url_for('calendar.day_view_route', date=view_date.strftime('%Y-%m-%d'), proj=project) }}">Daily</a> |
      <a href="{{ url_for('calendar.year_view_route', year=view_date.year, proj=project) }}">Yearly</a> |
      <a href="{{ url_for('calendar.list_view_route', proj=project) }}">List</a>
    </div>
    <a class="calendar-nav" href="{{ url_for('calendar.day_view_route', date=view_date.strftime('%Y-%m-%d'), proj=project) }}">Back</a>
    <a class="calendar-add-main" href="{{ url_for('calendar.edit_event_route', event_id=event.id, proj=project) }}">Edit</a>
  </div>

  <table border="1" cellpadding="5">
    <tr><th>Title</th><td>{{ event.title }}</td></tr>
    <tr><th>Date</th><td>{{ event.date }}</td></tr>
    <tr><th>Time</th><td>{{ event.time }}</td></tr>
    <tr><th>Detail</th><td>{{ event.detail }}</td></tr>
    <tr><th>Project</th><td>{{ event.project }}</td></tr>
  </table>
  {% set link_record_type = "event" %}
  {% set link_record_id = event.id %}
  {% set link_record_title = event.title %}
  {% set link_context_type = "event_detail" %}
  {% set link_mode = "outgoing" %}
  {% include "widgets/links_drawer.html" %}
{% endblock %}
