<div class="link-modal-backdrop" id="link-picker-backdrop"></div>
<div class="link-modal" id="link-picker-modal" aria-hidden="true">
  <div class="link-modal-header">
    <span>Link to...</span>
    <button type="button" class="links-btn link-modal-close">Close</button>
  </div>
  <div class="link-modal-body">
    <input type="text" class="link-picker-input" placeholder="Search..." autocomplete="off">
    <div class="link-picker-results"></div>
  </div>
  <div class="link-modal-footer">
    <button type="button" class="links-btn link-modal-confirm">Link</button>
    <button type="button" class="links-btn link-modal-close">Cancel</button>
  </div>
</div>

<div class="link-toast-container" id="link-toast-container"></div>

<div class="mention-popup" id="mention-popup">
  <div class="mention-results"></div>
</div>

<button type="button" class="links-drawer-handle" id="links-drawer-handle">Links</button>
