{% extends "layout.html" %}
{% block module_content %}
  <a href="{{ url_for('files.add_file_route', proj=project) }}">Add File</a>

{% set link_list_type = "file" %}
{% set link_list_context_id = "files_list" %}
{% set link_table_id = "files-table" %}
{% include "widgets/links_bulk_toolbar.html" %}

<table border="1" cellpadding="5" id="files-table">
  <tr>
    <th><input type="checkbox" class="link-select-all"></th>
    {% for col in col_list %}
    {% set next_dir = 'asc' if sort_col != col or sort_dir == 'desc' else 'desc' %}
    <th>
      <a href="{{ url_for('files.list_files_route', proj=project, sort=col, dir=next_dir) }}">{{ col.replace('_', ' ') }}</a>
      {% if sort_col == col %} {{ '^' if sort_dir == 'asc' else 'v' }}{% endif %}
    </th>
    {% endfor %}
    <th>Actions</th>
  </tr>
  {% for item in items %}
  <tr class="link-draggable" data-record-type="file" data-record-id="{{ item.id }}" data-record-title="{{ item.filelist_name }}">
    <td><input type="checkbox" class="link-select" data-record-type="file" data-record-id="{{ item.id }}" data-record-title="{{ item.filelist_name }}"></td>
    {% for col in col_list %}
    <td>{{ item[col] }}</td>
    {% endfor %}
    <td>
      <a href="{{ url_for('files.view_file_route', item_id=item.id, proj=project) }}">View</a> |
      <a href="{{ url_for('files.edit_file_route', item_id=item.id, proj=project) }}">Edit</a> |
      <a href="{{ url_for('files.delete_file_route', item_id=item.id, proj=project) }}" onclick="return confirm('Delete item?');">Del</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "widgets/wid_pagination.html" %}
{% endblock %}
